<nav class="navbar navbar-expand-sm" [ngClass]="themecolor">
  <!-- 
  [class.bg-purple]="true" [class.bg-primary]="true"
  [class.bg-purple]="true" [class.bg-primary]="false"> -->
  <div class="container-fluid">
    <a class="navbar-brand text-danger" href="/home">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink ="/home">Home</a>
      </div>  
      
      <!-- routerLinkActive="active" 
       actives the button (change in shade)
      
       [routerLink]="['/products']"
       making as SPA
      -->

      <div class="navbar-nav">
        <a class="nav-link " routerLinkActive="active" aria-current="page" [routerLink]="['/products']">Products</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link " routerLinkActive="active" aria-current="page" [routerLink]="['/profile']">Profile</a>
      </div>
      <div class="navbar-nav">
        <button class="nav-link active" (click)="toggletheme()">Click Here</button>
      </div>

      <div class="navbar-nav">
        <button class="nav-link active bg-danger position-absolute top-50 end-0 translate-middle"
          (click)="getcartCount()"><i class="bi bi-cart3">&nbsp;
            <span class="badge text-bg-info">{{cartCount}}</span>
          </i></button>
      </div>

    </div>
  </div>
</nav>
<p appHighlight>Highlight me!!</p>

<!-- <div class="container"> -->
<div class="container mt-5">
  <!-- <h1>{{title}}</h1> -->

  <!-- <app-product-list></app-product-list> -->

  <!--routes particular component like http://localhost:4200/profile in url-->
  <router-outlet></router-outlet>
</div>
